Django
pymongo
django-environ
opencv-python
tensorflow
face-recognition
numpy
Pillow
dlib
cmake
psycopg2-binary
dj-database-url
scikit-learn
matplotlib
seaborn
imutils
requests
python-dotenv
django-cors-headers
djangorestframework
django-rest-knox
whitenoise
gunicorn
django-extensions